<!DOCTYPE html>
<html lang="en">

<style>
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
</style>
<head>
     <title>SRIapp</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
            <p></p>
            <a href="SRI_result/">test</a>
            <p></p>
            <form action="/" method="post" novalidate>
                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}


                    <div class="fieldWrapper">
                    <label >user selection for possible building types:</label>
                      {{ form.selected_building_type }}
                    </div>
                    <div class="fieldWrapper">
                    <label >user selection for possible building zones:</label>
                      {{ form.selected_zone }}
                    </div>

                 <div class="fieldWrapper" data-bs-toggle="collapse" data-bs-target="#collapseH" >
                    <label >H (Heating):</label>
                      {{ form.selected_H }}
                 </div>

                <div id="collapseH" class="collapse">
                   <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >H1a (Heat emission control):</label>
                      {{ form.selected_H1a }}
                      <p>{{ form.selected_H1a_Perc_1 }}</p>
                      <p>{{ form.selected_H1a_level }}</p>
                      <p>{{ form.selected_H1a_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >H1b (Emission control for TABS (heating mode)):</label>
                      {{ form.selected_H1b }}
                      <p>{{ form.selected_H1b_Perc_1 }}</p>
                      <p>{{ form.selected_H1b_level }}</p>
                      <p>{{ form.selected_H1b_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H1c (Control of distribution fluid temperature (supply or return air flow or water flow) - Similar function can be applied to the control of direct electric heating networks):</label>
                      {{ form.selected_H1c }}
                      <p>{{ form.selected_H1c_Perc_1 }}</p>
                      <p>{{ form.selected_H1c_level }}</p>
                      <p>{{ form.selected_H1c_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H1d (Control of distribution pumps in networks):</label>
                      {{ form.selected_H1d }}
                      <p>{{ form.selected_H1d_Perc_1 }}</p>
                      <p>{{ form.selected_H1d_level }}</p>
                      <p>{{ form.selected_H1d_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H1f (Thermal Energy Storage (TES) for building heating (excluding TABS)):</label>
                      {{ form.selected_H1f }}
                      <p>{{ form.selected_H1f_Perc_1 }}</p>
                      <p>{{ form.selected_H1f_level }}</p>
                      <p>{{ form.selected_H1f_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H2a (Heat generator control (all except heat pumps)):</label>
                      {{ form.selected_H2a }}
                      <p>{{ form.selected_H2a_Perc_1 }}</p>
                      <p>{{ form.selected_H2a_level }}</p>
                      <p>{{ form.selected_H2a_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H2b (Heat generator control (for heat pumps)):</label>
                      {{ form.selected_H2b }}
                      <p>{{ form.selected_H2b_Perc_1 }}</p>
                      <p>{{ form.selected_H2b_level }}</p>
                      <p>{{ form.selected_H2b_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H2d (Sequencing in case of different heat generators):</label>
                      {{ form.selected_H2d }}
                      <p>{{ form.selected_H2d_Perc_1 }}</p>
                      <p>{{ form.selected_H2d_level }}</p>
                      <p>{{ form.selected_H2d_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H3 (Report information regarding heating system performance):</label>
                      {{ form.selected_H3 }}
                      <p>{{ form.selected_H3_Perc_1 }}</p>
                      <p>{{ form.selected_H3_level }}</p>
                      <p>{{ form.selected_H3_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >H4 (Flexibility and grid interaction):</label>
                      {{ form.selected_H4 }}
                      <p>{{ form.selected_H4_Perc_1 }}</p>
                      <p>{{ form.selected_H4_level }}</p>
                      <p>{{ form.selected_H4_Perc2_level }}</p>
                    </div>
                </div>
            </div>

                    <div class="fieldWrapper" data-bs-toggle="collapse" data-bs-target="#collapseDHW">
                    <label >DHW (Domestic Hot Water) :</label>
                      {{ form.selected_DHW }}
                    </div>

                <div id="collapseDHW" class="collapse">
                    <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >DHW1a (Control of DHW storage charging (with direct electric heating or integrated electric heat pump)):</label>
                      {{ form.selected_DHW1a }}
                      <p>{{ form.selected_DHW1a_Perc_1 }}</p>
                      <p>{{ form.selected_DHW1a_level }}</p>
                      <p>{{ form.selected_DHW1a_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >DHW1b (Control of DHW storage charging (using hot water generation)):</label>
                      {{ form.selected_DHW1b }}
                      <p>{{ form.selected_DHW1b_Perc_1 }}</p>
                      <p>{{ form.selected_DHW1b_level }}</p>
                      <p>{{ form.selected_DHW1b_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >DHW1d (Control of DHW storage charging (with solar collector and supplymentary heat generation)):</label>
                      {{ form.selected_DHW1d }}
                      <p>{{ form.selected_DHW1d_Perc_1 }}</p>
                      <p>{{ form.selected_DHW1d_level }}</p>
                      <p>{{ form.selected_DHW1d_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >DHW2b (Sequencing in case of different DHW generators):</label>
                      {{ form.selected_DHW2b }}
                      <p>{{ form.selected_DHW2b_Perc_1 }}</p>
                      <p>{{ form.selected_DHW2b_level }}</p>
                      <p>{{ form.selected_DHW2b_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >DHW3 (Report information regarding domestic hot water performance):</label>
                      {{ form.selected_DHW3 }}
                      <p>{{ form.selected_DHW3_Perc_1 }}</p>
                      <p>{{ form.selected_DHW3_level }}</p>
                      <p>{{ form.selected_DHW3_Perc2_level }}</p>
                    </div>
                </div>
                </div>

                    <div class="fieldWrapper" data-bs-toggle="collapse" data-bs-target="#collapseC">
                    <label >C (Cooling) :</label>
                      {{ form.selected_C }}
                    </div>

                <div id="collapseC" class="collapse">
                    <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >C1a (Cooling emission control):</label>
                      {{ form.selected_C1a }}
                      <p>{{ form.selected_C1a_Perc_1 }}</p>
                      <p>{{ form.selected_C1a_level }}</p>
                      <p>{{ form.selected_C1a_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >C1b (Emission control for TABS (cooling mode)):</label>
                      {{ form.selected_C1b }}
                      <p>{{ form.selected_C1b_Perc_1 }}</p>
                      <p>{{ form.selected_C1b_level }}</p>
                      <p>{{ form.selected_C1b_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C1c (Control of distribution network chilled water temperature (supply or return)):</label>
                      {{ form.selected_C1c }}
                      <p>{{ form.selected_C1c_Perc_1 }}</p>
                      <p>{{ form.selected_C1c_level }}</p>
                      <p>{{ form.selected_C1c_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C1d (Control of distribution pumps in networks):</label>
                      {{ form.selected_C1d }}
                      <p>{{ form.selected_C1d_Perc_1 }}</p>
                      <p>{{ form.selected_C1d_level }}</p>
                      <p>{{ form.selected_C1d_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C1f (Interlock: avoiding simultaneous heating and cooling in the same room):</label>
                      {{ form.selected_C1f }}
                      <p>{{ form.selected_C1f_Perc_1 }}</p>
                      <p>{{ form.selected_C1f_level }}</p>
                      <p>{{ form.selected_C1f_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C1g (Control of Thermal Energy Storage (TES) operation):</label>
                      {{ form.selected_C1g }}
                      <p>{{ form.selected_C1g_Perc_1 }}</p>
                      <p>{{ form.selected_C1g_level }}</p>
                      <p>{{ form.selected_C1g_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C2a (Generator control for cooling):</label>
                      {{ form.selected_C2a }}
                      <p>{{ form.selected_C2a_Perc_1 }}</p>
                      <p>{{ form.selected_C2a_level }}</p>
                      <p>{{ form.selected_C2a_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C2b (Sequencing of different cooling generators):</label>
                      {{ form.selected_C2b }}
                      <p>{{ form.selected_C2b_Perc_1 }}</p>
                      <p>{{ form.selected_C2b_level }}</p>
                      <p>{{ form.selected_C2b_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C3 (Report information regarding cooling system performance):</label>
                      {{ form.selected_C3 }}
                      <p>{{ form.selected_C3_Perc_1 }}</p>
                      <p>{{ form.selected_C3_level }}</p>
                      <p>{{ form.selected_C3_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >C4 (Flexibility and grid interaction):</label>
                      {{ form.selected_C4 }}
                      <p>{{ form.selected_C4_Perc_1 }}</p>
                      <p>{{ form.selected_C4_level }}</p>
                      <p>{{ form.selected_C4_Perc2_level }}</p>
                    </div>
                </div>
                </div>

                    <div class="fieldWrapper" data-bs-toggle="collapse" data-bs-target="#collapseV">
                    <label >V (Ventilation) :</label>
                      {{ form.selected_V }}
                    </div>

                <div id="collapseV" class="collapse">
                    <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >V1a (Supply air flow control at the room level):</label>
                      {{ form.selected_V1a }}
                      <p>{{ form.selected_V1a_Perc_1 }}</p>
                      <p>{{ form.selected_V1a_level }}</p>
                      <p>{{ form.selected_V1a_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >V1c (Air flow or pressure control at the air handler level):</label>
                      {{ form.selected_V1c }}
                      <p>{{ form.selected_V1c_Perc_1 }}</p>
                      <p>{{ form.selected_V1c_level }}</p>
                      <p>{{ form.selected_V1c_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >V2c (Heat recovery control: prevention of overheating):</label>
                      {{ form.selected_V2c }}
                      <p>{{ form.selected_V2c_Perc_1 }}</p>
                      <p>{{ form.selected_V2c_level }}</p>
                      <p>{{ form.selected_V2c_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >V2d (Supply air temperature control at the air handling unit level):</label>
                      {{ form.selected_V2d }}
                      <p>{{ form.selected_V2d_Perc_1 }}</p>
                      <p>{{ form.selected_V2d_level }}</p>
                      <p>{{ form.selected_V2d_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >V3 (Free cooling with mechanical ventilation system):</label>
                      {{ form.selected_V3 }}
                      <p>{{ form.selected_V3_Perc_1 }}</p>
                      <p>{{ form.selected_V3_level }}</p>
                      <p>{{ form.selected_V3_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >V6 (Reporting information regarding IAQ):</label>
                      {{ form.selected_V6 }}
                      <p>{{ form.selected_V6_Perc_1 }}</p>
                      <p>{{ form.selected_V6_level }}</p>
                      <p>{{ form.selected_V6_Perc2_level }}</p>
                    </div>
                </div>
                </div>

                   <div class="fieldWrapper" data-bs-toggle="collapse" data-bs-target="#collapseL">
                    <label >L (Lighting) :</label>
                      {{ form.selected_L }}
                    </div>

                <div id="collapseL" class="collapse">
                    <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >L1a (Occupancy control for indoor lighting):</label>
                      {{ form.selected_L1a }}
                      <p>{{ form.selected_L1a_Perc_1 }}</p>
                      <p>{{ form.selected_L1a_level }}</p>
                      <p>{{ form.selected_L1a_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >L2 (Control artificial lighting power based on daylight levels):</label>
                      {{ form.selected_L2 }}
                      <p>{{ form.selected_L2_Perc_1 }}</p>
                      <p>{{ form.selected_L2_level }}</p>
                      <p>{{ form.selected_L2_Perc2_level }}</p>
                    </div>
                </div>
                </div>

                    <div class="fieldWrapper"  data-bs-toggle="collapse" data-bs-target="#collapseDE">
                    <label >DE (Dynamic Building Envelope) :</label>
                      {{ form.selected_DE }}
                    </div>

                <div id="collapseDE" class="collapse">
                    <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >DE1 (Window solar shading control):</label>
                      {{ form.selected_DE1 }}
                      <p>{{ form.selected_DE1_Perc_1 }}</p>
                      <p>{{ form.selected_DE1_level }}</p>
                      <p>{{ form.selected_DE1_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >DE2 (Window open/closed control, combined ):</label>
                      {{ form.selected_DE2 }}
                      <p>{{ form.selected_DE2_Perc_1 }}</p>
                      <p>{{ form.selected_DE2_level }}</p>
                      <p>{{ form.selected_DE2_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >DE4 (Reporting information regarding performance of dynamic building envelope systems):</label>
                      {{ form.selected_DE4 }}
                      <p>{{ form.selected_DE4_Perc_1 }}</p>
                      <p>{{ form.selected_DE4_level }}</p>
                      <p>{{ form.selected_DE4_Perc2_level }}</p>
                    </div>
                   </div>
                </div>

                    <div class="fieldWrapper"  data-bs-toggle="collapse" data-bs-target="#collapseE">
                    <label >E (Electricity) :</label>
                      {{ form.selected_E }}
                    </div>

                <div id="collapseE" class="collapse">
                     <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >E2 (Reporting information regarding local electricity generation):</label>
                      {{ form.selected_E2 }}
                      <p>{{ form.selected_E2_Perc_1 }}</p>
                      <p>{{ form.selected_E2_level }}</p>
                      <p>{{ form.selected_E2_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >E3 (Storage of (locally generated) electricity):</label>
                      {{ form.selected_E3 }}
                      <p>{{ form.selected_E3_Perc_1 }}</p>
                      <p>{{ form.selected_E3_level }}</p>
                      <p>{{ form.selected_E3_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >E4 (Optimizing self-consumption of locally generated electricity):</label>
                      {{ form.selected_E4 }}
                      <p>{{ form.selected_E4_Perc_1 }}</p>
                      <p>{{ form.selected_E4_level }}</p>
                      <p>{{ form.selected_E4_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >E5 (Control of combined heat and power plant (CHP)):</label>
                      {{ form.selected_E5 }}
                      <p>{{ form.selected_E5_Perc_1 }}</p>
                      <p>{{ form.selected_E5_level }}</p>
                      <p>{{ form.selected_E5_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >E8 (Support of (micro)grid operation modes):</label>
                      {{ form.selected_E8 }}
                      <p>{{ form.selected_E8_Perc_1 }}</p>
                      <p>{{ form.selected_E8_level }}</p>
                      <p>{{ form.selected_E8_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >E11 (Reporting information regarding energy storage):</label>
                      {{ form.selected_E11 }}
                      <p>{{ form.selected_E11_Perc_1 }}</p>
                      <p>{{ form.selected_E11_level }}</p>
                      <p>{{ form.selected_E11_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >E12 (Reporting information regarding electricity consumption):</label>
                      {{ form.selected_E12 }}
                      <p>{{ form.selected_E12_Perc_1 }}</p>
                      <p>{{ form.selected_E12_level }}</p>
                      <p>{{ form.selected_E12_Perc2_level }}</p>
                    </div>
                </div>
                </div>

                    <div class="fieldWrapper" data-bs-toggle="collapse" data-bs-target="#collapseEV">
                    <label >EV (Electrical Vehicle Charging) :</label>
                      {{ form.selected_EV }}
                    </div>

                <div id="collapseEV" class="collapse">
                     <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >EV15 (EV Charging Capacity):</label>
                      {{ form.selected_EV15 }}
                      <p>{{ form.selected_EV15_Perc_1 }}</p>
                      <p>{{ form.selected_EV15_level }}</p>
                      <p>{{ form.selected_EV15_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >EV16 (EV Charging Grid balancing):</label>
                      {{ form.selected_EV16 }}
                      <p>{{ form.selected_EV16_Perc_1 }}</p>
                      <p>{{ form.selected_EV16_level }}</p>
                      <p>{{ form.selected_EV16_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >EV17 (EV charging information and connectivity):</label>
                      {{ form.selected_EV17 }}
                      <p>{{ form.selected_EV17_Perc_1 }}</p>
                      <p>{{ form.selected_EV17_level }}</p>
                      <p>{{ form.selected_EV17_Perc2_level }}</p>
                    </div>
                </div>
                </div>

                    <div class="fieldWrapper"  data-bs-toggle="collapse" data-bs-target="#collapseMC">
                    <label >MC (Monitoring and Control) :</label>
                      {{ form.selected_MC }}
                    </div>

                <div id="collapseMC" class="collapse">
                     <div class="card card-body">
                    <div class="fieldWrapper">
                    <label >MC3 (Run time management of HVAC systems):</label>
                      {{ form.selected_MC3 }}
                      <p>{{ form.selected_MC3_Perc_1 }}</p>
                      <p>{{ form.selected_MC3_level }}</p>
                      <p>{{ form.selected_MC3_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >MC4 (Detecting faults of technical building systems and providing support to the diagnosis of these faults):</label>
                      {{ form.selected_MC4 }}
                      <p>{{ form.selected_MC4_Perc_1 }}</p>
                      <p>{{ form.selected_MC4_level }}</p>
                      <p>{{ form.selected_MC4_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >MC9 (Occupancy detection: connected services):</label>
                      {{ form.selected_MC9 }}
                      <p>{{ form.selected_MC9_Perc_1 }}</p>
                      <p>{{ form.selected_MC9_level }}</p>
                      <p>{{ form.selected_MC9_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >MC13 (Central reporting of TBS performance and energy use):</label>
                      {{ form.selected_MC13 }}
                      <p>{{ form.selected_MC13_Perc_1 }}</p>
                      <p>{{ form.selected_MC13_level }}</p>
                      <p>{{ form.selected_MC13_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >MC25 (Smart Grid Integration):</label>
                      {{ form.selected_MC25 }}
                      <p>{{ form.selected_MC25_Perc_1 }}</p>
                      <p>{{ form.selected_MC25_level }}</p>
                      <p>{{ form.selected_MC25_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >MC28 (Reporting information regarding demand side management performance and operation):</label>
                      {{ form.selected_MC28 }}
                      <p>{{ form.selected_MC28_Perc_1 }}</p>
                      <p>{{ form.selected_MC28_level }}</p>
                      <p>{{ form.selected_MC28_Perc2_level }}</p>
                    </div>
                    <div class="fieldWrapper">
                    <label >MC29 (Override of DSM control):</label>
                      {{ form.selected_MC29 }}
                      <p>{{ form.selected_MC29_Perc_1 }}</p>
                      <p>{{ form.selected_MC29_level }}</p>
                      <p>{{ form.selected_MC29_Perc2_level }}</p>
                    </div>

                    <div class="fieldWrapper">
                    <label >MC30 (Single platform that allows automated control & coordination between TBS + optimization of energy flow based on occupancy, weather and grid signals):</label>
                      {{ form.selected_MC30 }}
                      <p>{{ form.selected_MC30_Perc_1 }}</p>
                      <p>{{ form.selected_MC30_level }}</p>
                      <p>{{ form.selected_MC30_Perc2_level }}</p>
                    </div>
                </div>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>
      </div>
</div>
</body>

</html>