<!DOCTYPE html>
<html lang="en">
<head>
     <title>SRIapp</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<p></p>
<a href="test/">test</a>
<p></p>

 <form method="post" >

        <table border="1" cellpadding="5">

            <tr>
                <td>
              <label for="building types" class="form-label">Choose your building type:</label>
              <input class="form-control" list="building types" name="building types" id="building">
              <datalist id="building types">

                       <option value="Residential">
                       <option value="Non - Residential">

              </datalist>
                </td>
            </tr>

            <tr>
                <td>
              <label for="zones" class="form-label">Choose your building type:</label>
              <input class="form-control" list="zones" name="zones" id="zone">
              <datalist id="zones">
                   <select class="form-select form-select-sm mt-3">
                       <option value="North Europe">
                       <option value="West Europe">
                       <option value="North-East Europe">
                       <option value="South Europe">
                       <option value="South-East Europe">
                   </select>
              </datalist>
                </td>
            </tr>





                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>

        </table>
    </form>

 <h4>Heating</h4>
<div class="form-check form-switch">
                        Heating <input class="form-check-input" type="checkbox" role="switch" name="selected_building_type" data-bs-toggle="collapse" data-bs-target="#demo">

                            <div id="demo" class="collapse">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="H1a" data-bs-toggle="collapse" data-bs-target="#demo1">
                                    <label class="form-check-label" for="radio1"> H1a. Heat emission control </label>
                                    <div id="demo1" class="collapse">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio1a" name="optradio" value="Level0">
                                            <label class="form-check-label" for="radio1"> Level 0 : No automatic control.  </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio1b" name="optradio" value="Level1">
                                            <label class="form-check-label" for="radio1"> Level 1 : Central automatic control </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio1c" name="optradio" value="Level2">
                                            <label class="form-check-label" for="radio1"> Level 2 :  </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio1d" name="optradio" value="Level3">
                                            <label class="form-check-label" for="radio1"> Level 3 : </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="radio1e" name="optradio" value="Level4">
                                            <label class="form-check-label" for="radio1"> Level 4 : </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>


</body>

</html>