<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">SRIpage1</a>
<p>Test site</p>
<p></p>

<form method="post" >
<label for="types" class="form-label">Choose your building type:</label>
              <input class="form-control" list="types" name="{{testtype}}" >
              <datalist id="types">
                       <option value="Residential">
                       <option value="Non - Residential">
              </datalist>
<p></p>
<input type="submit"  />
</form>

</body>
</html>